<% if @too_many_friends || @bad_friend_formatting %>
 <% if @too_many_friends %>
 $("#flashes").html("<div id='flash_notice'><%= "Thanks, but no discounts after #{@max_friends} friends."%></div>");
 <% else %>
 $("#flashes").html("<div id='flash_notice'>Please provide the first and last name of your friend.</div>");
 <% end %>
<% else %>
 $('#standard_price').after("<%= escape_javascript(render(partial: "fitness_camp_registration/cart/cart_includes/cart_item_includes/friend_discount_row",
 locals: {friend: @new_friend, savings: @savings, cart_item: @cart_item})) %>");
 $('#final_camp_price').html("<%= number_to_currency(@updated_camp_price) %>");
<% end %>
