<%#= render :partial => 'my_fit_wit_nav' %>

  <% form_for(user, :url => {:action => 'process_fit_wit_history'}) do |f| %>
    <fieldset>
      <legend>Fitness Camp History</legend>
      <ul>
        <li>
          <%= desc_label(f,:veteran_status,'Fitness Camps Completed:') + 
              f.select(:veteran_status, User::VETERAN_STATUS) %>
          <%= hidden_field_tag("referer",@back_page) %>
        </li>
        <li>
          <div class="desc">&nbsp;</div>
          <%= f.submit "Create", :class => 'button' %>
        </li>
      </ul>
    </fieldset>
  <% end %>
