<% if leaders %>
    <table style="width:100%">
      <th style="width:300px;font-weight:bolder;">Name</th>
      <th style="width:200px;font-weight:bolder;">Date</th>
      <th style="font-weight:bolder;">Score</th>
      <% leaders.each do |leader_object| %>
          <tr class="<%= cycle('light', 'dark') %>">
            <td><%= leader_object.first_name + " " + leader_object.last_name %></td>
            <td><%= leader_object.meeting_date %></td>
            <td><%= leader_object.score %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>No leaders yet (or no method defined)</p>
<% end %>