<div class="widgets subpages-widget">
    <h3>MyFitWit</h3>
      <% [["Home", :index],
          ["Workout Progress", :fit_wit_workout_progress],
          ["Fitness Camps", :camp_fit_wit_workout_progress],
          ["Goals", :my_goals]].each do |n,l| %>
          <li class="page_item <%= params[:action] == l.to_s ? "current_page_item" : "" %>">
            <%= link_to n, action: l %>
          </li>
      <% end %>
</div>