<table style="width:100%; border:1px solid gray;">
  <tr class="top_line">
    <th>workout</th>
    <th>Score</th>
    <th>Date Set</th>
  </tr>
  <% @prs.each do |pr| %>
  <tr class="<%= cycle('light','dark')%>">
    <td><%= pr.fit_wit_workout.name %></td>
    <td><%= pr.score %></td>
    <td><%= pr.date_accomplished %></td>
  </tr>
  <% end %>
</table>
