<%= javascript_include_tag 'get_leaderboard' %>
<!-- single_exercise_progress.html.erb -->

<%= render :partial => 'my_fit_wit/includes/exercise_progress_form', :object => @exertions_select_list %>
<div id="the_exercise_progress"></div>
<div id="moving_image">
Loading data . . .
<%= image_tag "ajax-loader.gif" %>
</div>



