<%= render :partial => 'my_fit_wit/includes/fit_wit_workout_progress_form', :object => @fit_wit_workouts_select_list %>
<div id="the_fit_wit_workout_progress"></div>
<div id="moving_image">
  Loading data . . .
  <%= image_tag "ajax-loader.gif" %>
</div>
