- title blog.title
%div{ :class=>:blog_intro, :id=>blog.id.to_s  }


- if blog.is_draft
  %p= t(:is_draft_label)
  
- if blog.cover_picture_exists?
  = render :partial => '/blogs/cover_picture',          |
           :locals => { :blog => blog,                  |
           :format => :thumb,                           |
           :style => 'float:right;margin-left: 10px'}   |

%address{ :style=>'width: 400px; font-style: normal;' }
  %span.item_link_buttons{:id => blog.title.underscore.downcase }
    - if can? :manage, blog
      = ui_button 'edit',  t(:edit), edit_blog_path(blog)
      = ui_button 'destroy', t(:destroy), blog,:confirm => t(:are_you_sure),:method => :delete




%p{ :style => 'clear: both'}
