%h1 FitWit Reports

%h3= link_to "FitWit Member Info", backend_reports_fitwit_member_info_path

%p This is a cool report

%h3= link_to "FitWit Users Info", backend_reports_all_fitwit_users_info_path

%p This is another cool report

%hr