<div id="container">
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Amanda's Story
			</h1>
					<div class="shadow shadow_medium">
						<%= image_tag "camperstories/CamperStory_Amanda.png", class: "border-img" %>
					</div>
		</div>
		<div class="full_page">
			<div class="one_fourth">
				<p>
					Before
				</p><%= image_tag "camperstories/CamperStory_Amanda_Before.jpg", class: "border-img" %>
			</div>
			<div class="one_fourth">
				<p>
					After
				</p><%= image_tag "camperstories/CamperStory_Amanda_After.jpg", class: "border-img" %>
			</div>
			<p>
				Now that I have completed 4 consecutive FitWit camps, I can confidently say that FitWit is not only an amazing program, but it has changed my life! Prior to joining FitWit, I went to a Personal Trainer for over a year and a half, but ended up cancelling my contract because it was neither close to home nor work. Although I had decent results, it was very stressful trying to meet my trainer near Cumberland Mall during rush hour traffic. I then decided to join Snap Fitness to see if I could hack it on my own. Although I was able to make time for the cardio aspect, I quickly learned that my routines lacked variety and I was getting bored with my workouts. After seeing signs for FitWit in the neighborhood, I thought it might be time to try something new, different, and outside of my comfort zone. I checked out the FitWit website and was immediately drawn into the community feel of the website and blog, especially the camper videos and testimonials. After watching several videos and viewing most of the photos on the site, I decided that I wanted to be a part of the FitWit Community, too!
			</p>
			<p>
				Even though I was eager to become a member of the FitWit community, I was definitely hesitant about joining what I viewed to be an intensely athletic group of people. Not only was I worried about being the slowest and potentially heaviest camper at 6am, I was anxious that it would be a re-hashing of my middle school P.E. class. To my surprise, I found that FitWit was the complete opposite of that. The trainers and campers are amazing people and genuinely supportive of every individual, regardless of their weight, height, or fitness ability. The trainers were great at modifying workouts to meet individual needs while encouraging each camper to maximize their potential. I truly believe that the other campers are an integral part of the success and longevity of the program. Many of the vets have several years of FitWit under their belt and provide a great source of motivation and inspiration. There were definitely times when I wanted to throw in the towel, but was motivated by someone shouting, <q>C'mon Amanda</q> or <q>You can do it. You're almost there!</q> It's very hard to give up when you know others are watching you and encouraging you to keep going.
			</p>
			<p>
				I definitely think that you get out of FitWit what you put into it. As one of the FitWit shirts rightly totes, <q>There is no substitute for hard work.</q> The FitWit workouts are by no means an easy feat and the trainers work very hard to ensure that they provide a challenge for every camper. Although I don't love every workout, I am confident that the trainers have our best interest in mind and that I will benefits and rewards at the end of the workout. Knowing that there is a finite end to every session definitely helps!
			</p>
			<p>
				During my first camp, I really liked how the Newbies were integrated into the program. I liked being separated for the first week to do an initial assessment, learn some of the core exercises, and slowly ease into the main group. I liked having a follow-up assessment at the end the camp to see if and how much I improved. I was amazed at how much progress I had made in 6 weeks. In looking back to my first camp in April, I am amazed at the progress I have made. When I first started, I could barely run 1 lap around the track and I was exhausted by the end of the warm up. Several weekends ago, I completed my 3rd 5K since starting FitWit. I not only improved my time by almost 10 minutes, but I also ran two-thirds of the way. In terms of overall fitness, I am not only getting stronger, but I feel like the bridge between me and the rest of the campers is starting to get a little smaller. I'm doing more of the prescribed weights in the workouts and my recovery time is diminishing. Even though I've still got a long way to go, I feel like I'm on way and so glad that I found FitWit to help me get there.
			</p>
			<p>
				In addition to increasing my endurance, I have lost countless inches and almost 50 pounds through FitWit alone. I have dropped 3 clothing sizes and have started to enjoy shopping and buying new clothes. Back in March, before I joined FitWit, I decided that my weight loss goal was to finally get to 100 lbs lost (according to my weigh-ins at Weight Watchers) before I turned 30 in December (I had been wavering between 30 and 60 lbs lost for the past several years). After my hard work at FitWit, I am now less than 5 lbs away from 100 lbs lost. For most of the summer, I wore the same black dress with a different sweater to work every day because none of my workpants fit anymore. I finally had to break down and buy some new clothes. Additionally, friends co-workers, and family member have commented on how thin my face and neck looks. I never seem to tire of hearing <q>You look great!</q>, <q>You look like a totally different person</q>, and <q>You're wasting away</q>.
			</p>
			<p>
				I'm thrilled that I found FitWit and have found such success in the program. I could not have done it without the support of the trainers and the 6am campers. I'm really looking forward to continuing my fitness journey and building upon what I've gained (and lost) so far. Many thanks to the FitWit Community much their motivation, support, and encouragement!!
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
