<div id="container">
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Carey's Story
			</h1>
					<div class="shadow shadow_medium">
						<%= image_tag "camperstories/CamperStory_Carey.png", class: "border-img" %>
					</div>
		</div>
		<div class="full_page">
			<div class="one_fourth">
				<p>
					Before
				</p><%= image_tag "camperstories/carey_before.jpg", class: "border-img" %>
			</div>
			<div class="one_fourth">
				<p>
					After
				</p><%= image_tag "camperstories/carey_After.jpg", class: "border-img" %>
			</div>
			<p>When I signed up for FitWit earlier this year, I did so for two
			reasons.  1.  It was on sale and 2. It was at 6 a.m. &mdash; the only time I
			could manage to go without disrupting my young family&lsquo;s schedule. 
			Even though I was in the Very Obese category according to my body
			measurements before class, I stood there on my first day of boot camp
			in my size XL clothes thinking FitWit was a joke.  It might be okay
			for some people, but it was not hardcore enough for me.  I didn&lsquo;t need
			assessments.  I didn&lsquo;t need to know how to do a squat.  (insert
			eyeroll [here]).  I would stay&hellip; but only because it was cheap and I&lsquo;d
			already paid for it. </p>

			<p>As the days went on, I realized that even though it wasn&lsquo;t the boot
			camp I was expecting &mdash; the one with all the running and yelling and
			dropping and giving of the infamous twenty - I was getting something
			incredibly valuable at FitWit that I had never gotten before.  I was
			getting proper training.  Once I realized that, I made the decision to
			always listen to my trainer.  If Amy told me to jump, I jumped.  If
			Amy told me to stop, I stopped. </p>

			<p>It was with this thought in mind that I went to Amy, distraught that I
			was still obese after ten whole days.  Amy told me to stop weighing
			myself and to start setting manageable goals.  I listened.  I am now
			out of plus sizes entirely and I am able to measure my success by how
			much I have improved &mdash; and I know how much I have improved because
			FitWit took the time on that first day to give me an assessment. 
			FitWit does things the right way &mdash; and no matter how long I am able to
			stay wth FitWit, what I have learned from FitWit will always stay with
			me.</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
