<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Catherine's Story
			</h1>
					<div class="shadow shadow_medium">
						<%= image_tag "camperstories/CamperStory_Catherine.png", class: "border-img" %>
					</div>
		</div>
		<div class="full_page">
			<p>
				I'll start by saying, hi, my name is Catherine and I am addicted to FitWit!
			</p>
			<p>
				In early 2009, I was five years out of college and sitting behind a desk in fairly stressful job. I realized that I had neglected my urge to exercise on a regular basis and instead took leisurely jogs every now and again thinking that I was staying healthy. I had wanted to improve my health, but hardly had the motivation or the time to go to gym. This was all right around the time when fitness <q>boot camps</q> were becoming more mainstream and it seemed like everyone was doing it. I thought, what the heck, let's just try this boot camp thing. I joined another Atlanta boot camp for a four week program and was highly disappointed. Not only were the workouts repetitive and boring, the trainers were not certified and the diet restrictions were unrealistic. I quickly knew that if I wanted to really get myself motivated, I would have to find a program that inspired me. Along came FitWit.
			</p>
			<p>
				I first attended FitWit, as part of the Decatur camp, in April of 2009. Within only two weeks, I knew I had found the organization for me. Not only did I feel stronger and healthier, I actually wanted to attend the work outs and I was inspired to reach my highest potential. I couldn't believe that something so fun could also be so good for my body and my mind. The trainers were not only amazing instructors; there was no doubt that they were devoted to and absolutely loved their jobs. I transferred to the Grant Park camp in early 2010 and was just as impressed by the quality and professionalism of the trainers. They are energetic (even at 6:00 a.m.), inspiring and encouraging; and it is absolutely apparent that they truly care about each and every one of us.
			</p>
			<p>
				Over the last two and a half years, FitWit has become part of my daily routine, and I feel like I am lacking something when I miss a camp. At this point, I believe that I am in high school shape or better and I thank FitWit for getting me there. The group dynamic and community, the intensity and variety of the workouts, the support from other participants and the instructors, and especially the fact that a portion of my dues go to a Foundation to assist young people reach their fitness goals will all keep me coming back as long as I possibly can. Kudos to all!
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
