<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Christina's Story
			</h1>
			<div class="shadow shadow_medium">
				<%= image_tag "camperstories/CamperStory_Christina.png", class: "border-img" %>
			</div>
		</div>
		<div class="full_page">
			<p>
				FitWit is a total body workout, which I get to do with others who motivate and push me. That is the one sentence answer to why I FitWit. The long answer is that I use to be a <q>run only</q> fitness person. Running was the only thing that I felt gave me a workout and I could usually find someone to run with. The running was too much bounding on the body for my running buddy and friend, so she convinced me to try out FitWit.
			</p>
			<p>
				Once I had the chance to do FitWit I realized there was more to working out for both my body and mind, which I was not getting out of running. Running did not give me that total body workout or team environment that FitWit does. Additionally, I realized the continuous running and bounding was not good for my body in the long run. Now, I still love my runs and still put in some good miles each week, but I get more out of my workouts and feel more motivated to work out each day, week, month...year by doing FitWit. Since committing myself to FitWit after just one camp, my body has become stronger and toner in all areas and I enjoy each workout because I get to be a part of a team of people committed to fitness or, as I see it, committed to just feeling good every day.
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
