<h1 style="margin-top:10px;">Join our FitWit Affiliates and run your own fitness business!</h1>

<p>Owning expensive gyms <i>drain</i> your savings, while franchises <em>Squash</em> your freedom.
  Only FitWit offers the independence, support, and programming that keep your camp rosters booked with clients and keep
  that revenue in your pocket.</p>

<p>FitWit has grown steadily EVERY year for the last 6 years in a market saturated with
  fitness camps (at least 25 companies in Atlanta!). We've seen every type of camp come and go,
  and we continue to crush the competition by turning the "boot camp" concept on its
  head with our workout tracking, equipment variety and commitment to the community,
  AND we are increasing our lead everyday in the fight against the run-of-the-mill boot camp.
  We don't yell at campers, we don't chant cadences, we don't wear camouflage, and most importantly,
  we don't simply exercise without a goal in mind. Just like one-on-one training, we provide specific instruction (from
  certified personal trainers), we record your performances, and we vary the workouts continually utilizing many
  different pieces of equipment. We're a fitness community that produces tangible results. Our program is about living a
  fit lifestyle that is sustainable, not a temporary, 30-day quick-fix solution that so many of these boot camps preach.
  And now, we're spreading our mission nationwide by offering personal trainers the opportunity to own and operate their
  own FitWit camps.</p>

<h2>Steps to Leading Your FitWit Camp as a FitWit Affiliate:</h2>

<ol class="advantages">
  <li> Submit your application containing information regarding your background and why you want to become a FitWit
    Affiliate. Applicants must hold current trainer certifications from one of the following organizations: ACE, ACSM,
    AFAA, AFPA, CrossFit, ISSA, or NSCA. Please email <%= mail_to "affiliate@fitwit.com" %> for an application.
  </li>
  <li> Once we receive your application, the application will undergo a 48-hour review process, and then FitWit will
    send you an official response. If accepted, you are eligible to sign up for the FitWit Certification Workshop.
  </li>
  <li>Pay the FitWit Certification Workshop fee of $1000.</li>
  <li>Attend the 2-day FitWit Certification Workshop in Atlanta, Georgia. By completing the 2-Day FitWit Certification
    Workshop, trainers will obtain the FitWit Camp Operator's Manual&#169; which includes:
    <ul style="list-style-type:circle;">
      <li>Step-by-step guide to setting up your first camp.</li>
      <li>Detailed exercise glossary with modifications, corrections and verbal cues for exercises used in FitWit
        workouts.
      </li>
      <li>Workout manual including samples of killer FitWit workouts and guidelines for creating your own workouts.</li>
    </ul>
  </li>
  <li>Access the FitWit Affiliation Online Resource Center to begin implementing the resources for your business.</li>

  <li>Return home and start your FitWit affiliate camp!</li>
</ol>

<h2>FitWit Certification Workshop Agenda (Email for Certification Workshop dates for 2010)</h2>

<h3>Day 1</h3>
<ol class="advantages">
  <li>Intro to FitWit &mdash; Background, Mission, Core Values</li>
  <li>Securing Your Camp Location</li>
  <li>Quality Trainers &mdash; Standards of Service & Fitness Philosophy</li>
  <li>Exercise Workshop #1</li>
  <li>Camp Ops Part 1 &mdash; Website, Registration, and Payment</li>
  <li>Exercise Workshop #2</li>
  <li>Camp Ops Part 2 &mdash; Daily Procedures</li>
  <li>FitWit Workout</li>
</ol>

<h3>Day 2</h3>
<ol class="advantages">
  <li> Camp Ops Part 3 &mdash; Marketing Your First Camp</li>
  <li>Exercise Workshop #3</li>
  <li>Camp Ops Part 4 &mdash; Camp Communication</li>
  <li>Nutrition</li>
  <li>Exercise Workshop #4</li>
  <li>Camp Ops Part 5 &mdash; Special Days, Troubleshooting, Difficult Campers</li>
  <li>Workout Programming</li>
  <li>FitWit Workout</li>
  <li>End of Workshop Celebration!</li>
</ol>

<h2>FitWit Affiliation Benefits:</h2>

<ol class="advantages">
  <li>Access to the online FitWit Affiliate Online Resource Center. Here, affiliates benefit from all the experience and
    solutions of existing FitWit affiliates:
    <ul>
      <li>Sample Forms &mdash; release and waivers, trainer agreements, sponsor letters, community partner pact, etc.
      </li>
      <li>Marketing Guide &mdash; discover how to effectively grow your initial camp, retain your campers, and attract
        new
        ones in even the toughest markets.
      </li>
      <li>Workout Catalog &mdash; Over 200 FitWit workouts mapped out specifically for a 6-week camp. This catalog grows
        with
        every camp and affiliation.
      </li>
      <li>Sample Advertisements &mdash; See what has worked and what has bombed &mdash; and why!</li>
    </ul>
  </li>
  <li>
    Complete website including registration and workout tracker! You'll have the ability to customize the fitwit.com
    site with your information. With this powerful site, you'll be able to set up multiple price levels and even the
    ability to automatically bill campers every month &mdash; a fantastic recurring revenue stream.
  </li>
  <li>
    Name recognition and your website listing on FitWit.com
  </li>
  <li>
    Yearly professional development conferences for continuous improvement, exchange of ideas, and access to the latest
    training techniques.
  </li>
  <li>
    25% FitWit Affiliate discount on all fitness equipment purchased from Power Systems (www.power-systems.com).
  </li>
  <li>
    Unlimited e-mail support, mentoring and consulting for one year.
  </li>
  <li>Access to the FitWit Affiliate Forum to pose questions and bounce ideas off your fellow affiliates.</li>
</ol>

<h2>Costs</h2>

<ul>
  <li>FitWit Certification/Workshop Fee: $1000</li>
  <li>Licensing Fee: $2000/year. This fee includes the entire FitWit program - programming, logo, manuals, web
    templates, sample forms, sample letters, sample ads and support via Online Resource Center and Affiliate Forum.
  </li>
</ul>

<p>We know our fees are significantly lower than typical franchise or certification programs. Please do not consider
  this a cheap, get-rich scheme. We provide a fantastic program, but your personality, work ethic, professionalism and
  enthusiasm will determine your success. We encourage you to do your research and compare us. We're confident that no
  other program in the country can compete with our business model. Consider the following:</p>

<ul>
  <li>Our low affiliate fee vs. 5-10% franchise fees</li>
  <li>No gym = no rent. We primarily run camps outdoors, and indoors when necessary through partnerships with local
    school, churches, and community centers. We teach you how to secure an indoor space for little to no cost.
  </li>
  <li>Our 2-day training vs. an in-home course taught by a few DVDs and a manual.</li>
  <li>Our on-going affiliate support.</li>
  <li>Our unique training system vs. every other dime-a-dozen boot camp on the block &mdash; separate yourself!</li>
</ul>

<p style="margin-bottom:0px; padding-bottom:20px;">For inquiries and applications, please
  email <%= mail_to "affiliate@fitwit.com" %> or call 888-534-8948.</p>