<% title "Frequently Asked Questions" %>

<div class="full_page">
    <%= image_tag "jumpropes.jpg" %>
</div>

<div class="full_page">
    <dl>
        <dt><strong>Do I need to be in shape before joining?</strong></dt>

    <dd><p>No &mdash; that's what we're here for! Our campers represent diverse fitness backgrounds and
    experiences from avid runners to former couch potatoes to new moms trying to get back in
    shape. We truly do cater to all fitness levels in the way we program our workouts.</p></dd>

    <dt><strong>I hear that people do FitWit for years. Is this a cult?</strong></dt>

    <dd><p>No &mdash; just a great community that makes good fitness sustainable in the long-run. We have 100+
    campers who've been with us for 2 or more years, and we consider ourselves fortunate to have
    such fiercely loyal supporters.</p></dd>

    <dt><strong>Is FitWit a non-profit? How does it support FREE programs for children?</strong></dt>

    <dd><p>FitWit is a for-profit company that also supports a non-profit organization &mdash; The FitWit
    Foundation(TFF). FitWit donates monthly revenues to TFF, which allows us to offer free fitness
    programs to under-served Atlanta children. When FitWit grows, so does our ability to positively
    impact the lives of youth in Atlanta!</p></dd>

    <dt><strong>Can I join anytime? Or do I have to wait until a new camp starts?</strong></dt>

    <dd><p>Though most FitWit newbies join us at the start of a new camp, you are welcome to join us at
    any time throughout the year. Click here for information on getting started.</p></dd>

    <dt><strong>How many camps in a year?</strong></dt>

    <dd><p>We run a 7-week program, year-round &mdash; a 6-week fitness camp (24 workouts) with 1 recovery
    week in between. This essentially means 7 full camps through the year, though we run shorter
    versions during November/December due to the holidays.</p></dd>

    <dt><strong>Are there INDOOR options too?</strong></dt>

    <dd><p>Yes. At every FitWit location, we have an indoor option that allows us to run programs even in
    the winter.</p></dd>

    <dt><strong>What's a daily workout session look like?</strong></dt>

    <dd><p>Every session starts the same, with a light jog/power-walk followed by a dynamic warm-up
    aimed at getting your blood pumping and stretching your muscles. Once warmed up, we'll put
    you through the day's workout, and that could mean anything! We're big on variety and we also
    stress the idea that fitness is a sport. Thus, many days you'll be competing against yourself in
    workouts to beat your previous best time. We track times, rounds, and repetitions so you can
    actually see how much your fitness level has improved!</p></dd>

    <dt><strong>What if I can't perform a certain exercise?</strong></dt>

    <dd><p>We will give you modified, low-impact drills as an alternative to strengthen your body so that
    you will be able to condition the weaker areas.</p></dd>

    <dt><strong>Do I need to be a <q>runner</q>?</strong></dt>

    <dd><p>While we do run in our camps, we create workouts in which every running level is
    accommodated. Campers strive to do their individual best, and no camper is ever left alone.
    If a camper is unable to run, injury or otherwise, a trainer prepares modifications to that day's
    workout. And because we rely on a variety of equipment, there are days when we don't even run
    at all. Thus, we successfully challenged both elite runners and campers who consider running
    torture.</p></dd>

    <dt><strong>There are dozens of boot camps in Atlanta. What makes FitWit different than any of
    those?</strong></dt>

    <dd><p>You can find a boot camp in nearly every park in town. These boot camps will likely include
    repetitive calisthenics, continuous running in groups, and claims of 30-day quick fixes with few
    specifics in mind. If this is the type of workout you are looking for, FitWit might not be for you.
    FitWit provides a sustainable fitness solution with emphasis on variety and community. FitWit
    workouts utilize multiple methods of exercise tailored to individual abilities and needs while
    tracking your individual progress throughout the camp.</p></dd>

    <dt><strong>I've seen some boot camps for under $200. Why is FitWit more expensive?</strong></dt>

    <dd><p>As mentioned in the answer above, if you're looking for a 30-day quick-fix boot camp where you
    run around the park every workout, there are plenty of boot camps in Atlanta, and some of these
    are less expensive than FitWit. We offer 24 purposeful fitness classes with certified personal
    trainers (rather than former participants who excelled in camp) and an array of equipment (kettle
    bells, medicine balls, heavy ropes, sandbags and more). FitWit costs more because we deliver
    more and guarantee your results.</p></dd>

    <dt><strong>Do you offer nutritional support?</strong></dt>

    <dd><p>In the FitWit Camp Manual, we outline a nutrition plan that will help you maximize your results.
    We also offer a monthly seminar covering the basic principles, and campers have the opportunity
    to turn in food logs documenting their food and drink intake. We also offer additional nutrition
    coaching.</p></dd>

    <dt><strong>What kind of results can I expect?</strong></dt>

    <dd><p>Most campers begin to notice a difference in how they look and feel in as little as two weeks.
    Though every body is different, campers can expect to lose inches, burn fat and build lean
    muscle There are numerous success stories from people who have stuck with the FitWit program
    with 40-50 lbs. of weight loss, 15% loss in body fat, minutes faster mile time, a new self-esteem
    that has helped battle depression, lower blood pressure, etc.</p></dd>

    <dt><strong>If the camp site offers more than one time slot, can I change up which sessions I attend?</strong></dt>

    <dd><p>We'd like you to take the majority of your sessions in one time-slot, but we do understand that
    early work meetings or appointments come up. In these cases, we offer you the ability to go to
    camp at another time. This flexibility gives campers the opportunity to attend every session,
    helping you achieve your goals faster!</p></dd>

    <dt><strong>Are all of your personal trainers certified? Insured?</strong></dt>

    <dd><p>Yes, all of our lead personal trainers hold personal training certifications, and/or degrees. We
    carry a comprehensive insurance policy, and we have both male and female personal trainers
    available.</p></dd>

    <dt><strong>How do I get started?</strong></dt>

    <dd><p>Getting started is easy. <%= link_to "Click here.", getting_started_path %></p></dd></dl>
</div>
