<% title "Frequently Asked Questions" %>
<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Frequently Asked Questions
			</h1>
		</div>
		<div class="full_page">
			<%= image_tag "jumpropes.jpg" %>
		</div>
		<div class="full_page">
			<p>
				Don't jeopardize your fitness any longer. Discover how FitWit overcomes each of these 5 challenges!
			</p>
			<p>
				ONE FitWit camp gives ONE Atlanta child ONE free week of FitWit. It's simple — Get Fit, Give Fit, Live Fit.
			</p>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="whats_included"><%= image_tag "left.jpg" %></a>
			</div>
			<h2>
				1. Your boring routine sabotages real results
			</h2>
			<p>
				Whether you're a 5-day/week runner or 3-sets-of-10 weight lifter, without new and varied challenges, you get bored. And boring workouts produce boring results.
			</p>
			<p class="red">
				<strong>A new way to think about fitness!</strong> — Kettlebells, jump ropes, sandbags, medicine balls and more in creative compinations with workouts "on the clock" and you competing against your previous best times, reps, round. All boot camps are NOT created equal. Click here to see sample workouts.
			</p>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="whats_included"><%= image_tag "center.jpg" %></a>
			</div>
			<h2>
				2. You have no idea where to start!
			</h2>
			<p>
				You're taking the first steps into fitness but don't have the foggiest clue where to begin.
			</p>
			<p class="red">
				<strong>We meet where you're at!</strong>— No one is ever left behind. Our secret sauce is our ability to acommodate our "elite" athletes with folks who haven't gotten off the couch in years.
			</p>
		</div>
		<div class="one_third last">
			<div class="shadow shadow_medium">
				<a href="whats_included"><%= image_tag "right.jpg" %></a>
			</div>
			<h2>
				3. Your lack of motivation zaps progress.
			</h2>
			<p>
				With no one to hold you accountable and without defineable goals, it's easy to miss workouts.
			</p>
			<p class="red">
				<strong>Support and accountability</strong>— Our trainers motivate and encourage campers to reach smart goals. And the constant variety does wonders for your motivation!
			</p>
		</div>
		<div style="clear:both;"></div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="whats_included">IMAGE</a>
			</div>
			<h2>
				4. Expensive gyms and trainers drain your cash flow.
			</h2>
			<p>
				At an average of $40/session, hiring a personal trainer even twice a week can add up to a costly monthly bill
			</p>
			<p class="red">
				<strong>Certified trainers as low as $8/session</strong>— FitWit trainers are professionals with accredited certifications (ACE, Crossfit, NSCA, ACSM). And with 24 sessions in each camp, no one beats us on price!
			</p>
		</div>
		<div class="one_third">
			<div class="shadow shadow_medium">
				<a href="whats_included">IMAGE</a>
			</div>
			<h2>
				5. Exercise is torture for you!
			</h2>
			<p>
				For many people, even the thought of exercise is torture.
			</p>
			<p class="red">
				<strong>A fitness community</strong>— Good fitness is tough, but it doesn't have to be torture. Part of the fun in joining FitWit is that you enter into a family! It's much easier to work out in a positive, challenging, and supportive environment. Visit the location nearest you to see our camp communities in action!
			</p>
		</div>
		<div class="one_third last">
			<div class="info_box info_box1 big_text rounded">
				<div class="title_box">
					<p>
						FitWit Camps
					</p>
				</div>
				<div class="content_box">
					<p>
						As low as <strong>$8 per session</strong>
					</p>
				</div>
				<div class="content_box">
					<p>
						Next camp October 31st - December 9th
					</p><a class="big-btn gradient-btn stroke-btn" href="#"><span>Register</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="clear:both;"></div>
