<p>this is old content!!</p>

<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Getting Started
			</h1>
		</div>
		<div class="full_page">
			IMAGE
		</div>
		<div class="full_page">
			<p>
				FitWit is a personalized group-training program that has transformed thousands of lives since 2006. We're NOT your typical boot camp that runs around the park every day. Instead, we offer unique and <em>measurable</em> workouts instructed by expert coaches who care about <em>your</em> progress. AND, perhaps the biggest reason we've had over 150 campers in our program for 2+ years is our ability to effectively program workouts for EVERY fitness level. With a focus on You vs. You, our well-conditioned campers are always pushed to new levels and our new-comers to exercise are NEVER left behind.
			</p>
			<p>
				At FitWit, you receive EVERYTHING you need to completely transform your life - personalized fitness instruction, workout tracking, nutrition coaching, group accountability and a new community of supporters. This community is a vital component of your transformation, and we're very serious about it — group socials, volunteer projects, running clubs, dinner clubs and a yearly FitWit Awards Banquet held at Zoo Atlanta.
			</p>
			<p>
				Finally, not only will you GET FIT, you'll also GIVE FIT, <a href="non_profit">so our next generation can LIVE FIT</a>.
			</p>
			<p>
				<strong>It's easy to get started:</strong>
			</p>
			<ol>
				<li>Want to try us out? Call/email to join us for a free workout anytime.
				</li>
				<li>Is this a right fit for you? Call/email to set up a free fitness consultation.
				</li>
				<li>
					<p>
						Ready to change your life? <a href="register">Register</a> for your first camp or call us to discuss our membership programs. 80% of FitWitters are enrolled in one of our membership programs, providing sustainable fitness solutions to suit every sitation. We offer plans that will meet your needs whether you work out almost every day, a few days a week or in between hectic travel/family schedule. We also offer discounts for couples, teachers, students, military and first-responders.
					</p>
				</li>
			</ol>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
