<div id="container">
	<!--
	<div class='google-search'>
	%= insert_google_site_search %
	</div>
	-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">Greg's Story</h1>
				<div class="shadow shadow_medium">
					<%= image_tag "camperstories/CamperStory_Greg.png", class: "border-img" %>
				</div>
		</div>
        <%= video "Greg"  %>
	<div style="clear:both;"></div>
	</div>
</div>