<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
<div style="margin-left:-10px;">
  <div class="floatLeft homeLeft">
    <!-- left side -->
    <%= image_tag "booher_design/top_left_gears.jpg", :alt => 'Team Graphic', :style=>"width:300px;height:300px;" %>

    <div style="text-align:center;">
      <%= render :partial => 'shared/fitwit_fb_activity', :locals => {:page => "home"} %>
    </div>
  </div>
  <!-- end left div -->

  <div class="floatRight homeRight">
    <!-- right side -->
    <p class="big_red" style="margin:0 0 0 -120px;white-space:nowrap;">A unique twist on
      <strong>the fitness boot camp</strong>. Imagine something different&#8230;</p>

    <div id="whatif" style="list-style-type:none;">
      <img src="/images/front_page/whatif.png"/>
      <ul class="advantages">
        <li>I actually looked forward to exercising?</li>
        <li>my jeans started to fit better?</li>
        <li>"boot camp" didn't mean yelling?</li>
        <li>I found a new group of friends?</li>
        <li>I could improve my community?</li>
      </ul>
    </div>
    <div class="clear"></div>
    <p class="big_red" style="text-align:left;">FitWit works for <strong><em>EVERY</em></strong> fitness level!</p>

    <p class="bigGray" style="text-align:justify;">We add up everything cool about teams &#8211; camaraderie, support,
      fun &#8211; And then we subtract everything you hate about sports &#8211; ultra-egos, smelly teammates, 3 hour
      practices &#8211; and we mash it up into what we call FitWit. Serious fitness for people who don't take themselves
      too seriously.</p>

    <p class="bigGray" style="text-align:justify;">Think measurable workouts with cool stuff &#8211; kettlebells,
      sandbags, medicine balls and think certified trainers coaching you to personal greatness! And guess what? There's
      a cherry on top&#8230;</p>

    <p class="bigGray" style="text-align:justify;">ONE FitWit camp gives ONE Atlanta child ONE free week of FitWit. It's
      simple &#8211; Get Fit, Give Fit, Live Fit.</p>

    <p class="bigGray" style="margin:0 auto 15px auto;text-align:left;">
      Need more
      details?  <%= link_to "Click here for the FitWit Difference.", {:controller => "fitness_camp_info", :action => "the_fitwit_difference"}, :style => "color:#535353;" %>
    </p>

    <div id="socialBox">
      <div>
        <div style="float:left;text-align:center;">
          <%= render :partial => 'shared/constant_contact', :locals => {:page => "home"} %>
        </div>
        <!-- TODO remove inline css -->
        <div style="float:left;margin:0 10px 0 10px;width:120px;">
          <div>Follow us!</div>
          <a href="http://www.facebook.com/pages/FitWit/119054548173103"><img src="images/icons/fb.png" style="display:block;margin-left:10px;"/></a>
          <!--<div style="margin-bottom:5px"><iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFitWitAtlanta&amp;send=true&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe></div>-->
          <a href="http://twitter.com/FitWitNation"><img src="images/icons/twitter.png" style="display:block;margin-left:10px;"/></a>
          <!--<div style="margin-bottom:5px"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.FitWit.com" data-text="FitWit" data-count="horizontal" data-via="FitWitNation">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>-->
          <!--<div style="margin-bottom:5px"><a href="http://www.viddler.com/explore/FitWit/"><img src="/images/icons/youtube.png" style="display:block;margin-left:10px;"/></a></div>-->
        </div>
      </div>
      <div class="cleared" style="float:none;clear:both;height:1px;width:500px;">&nbsp;</div>
      <div style="text-align:center;width:250px;margin:20px 0 -20px 0;font-size:1.1em;color:#EA241B;">As Seen On:</div>
      <div class="asSeenOn" style="width:250px;margin:0 0;">
        <ul>
          <li><img src="/images/icons/hgtv.png" style="width:50px;height:40px;"/></li>
          <li><img src="/images/icons/cnn.png" style="width:50px;height:40px;"/></li>
          <li><img src="/images/icons/cnn.com.png" style="width:80px;height:40px;"/></li>
          <li><img src="/images/icons/fox5.png" style="width:30px;height:40px;"/></li>
        </ul>
      </div>
    </div>
    <div style="position:relative;width:100%">
      <div style="width:200px;margin:0 auto;text-align:center;">
        <a class="fitwit" href="/registration/all_fitness_camps" style="">Register now!</a>
      </div>
    </div>

  </div>
  <!-- 400x240 -->
</div>