<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Katherine's Story
			</h1>
		</div>
		<div class="full_page">
			<p>
				I love FitWit for the camaraderie it provides during a workout. It's wonderful to have a big group of folks sweating, pushing hard, and suffering right alongside me as I'm making it through the workout. We sweat together, and we triumph together.
			</p>
			<p>
				We're only competing with ourselves; but it's nice to have someone else in the group who has raised the bar for themselves and then be inspired to raise the bar for myself, too. I am genuinely thrilled when someone pushes through a really hard exercise and makes it to the finish line. I love cheering them on. And I am so appreciate when they are cheer for me, too.
			</p>
			<p>
				The trainers are great about offering constructive encouragement, watching to make sure our body mechanics are correct to keep us safe, and shouting out all kinds of positive inspiration to get us through a tough workout. They are knowledgeable, positive and genuinely interested in our improvement.
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
