<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Lisa's Story
			</h1>
					<div class="shadow shadow_medium">
						<%= image_tag "camperstories/CamperStory_Lisa.png", class: "border-img" %>
					</div>
		</div>
		<div class="full_page">
			<p>
				I joined Fitwit because I wanted to lose weight and didn't feel motivated enough to do it on my own. I wanted to be pushed and get motivated again. A goal of mine was also to get back playing tennis but felt that I wasn't even in good enough shape to play a match. I went to a gym, lifted weights, took cardio classes, etct but still never felt the results like Fitwit. The variety not only keeps me motivated, but it works so many different body parts. You feel that <q>good soreness</q>.
			</p>
			<p>
				Once I started Fitwit, I soon realized that other workouts couldn't compare to what they provide. They put all your stats online so that you can keep trying to improve your personal scores! I've lost 30 pounds toward my goal which gets me into that pair of jeans that's been sitting in my closet. I'm also enjoying playing tennis again! Thanks Fitwit!
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
