<h1>Logoff Successful</h1>
<p>Thank you for using FitWit.com</p>
<blockquote>"We are what we repeatedly do. Excellence, then, is not a an act, but a habit."<br/>
  ~Aristotle
</blockquote>
<%= render :partial => 'shared/pic_banner' %>