<div id="container">
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Mike's Story
			</h1>
			<div class="shadow shadow_medium">
				<%= image_tag "camperstories/CamperStory_Mike.png", class: "border-img" %>
			</div>
		</div>
		<div class="full_page">
			<p>
				FitWit is great. It's essentially group personal training with a bunch of people who want to work out regularly, be held accountable, etc., but also want to have fun and be involved with others in the community. When I joined, I really thought it was a six-week boot camp, sort of a jump start toward after the session was over. I never imagined doing a second session. Now it's basically my "gym", only I actually attend this "gym". Joining (and staying involved with) FitWit is honestly one of the best things I've done since moving to Atlanta.
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
