  <h1>Not Authorized</h1>
  <p>This page requires authorization.</p>
  <p>Head over to <%= link_to "My Fit Wit", :controller => :my_fit_wit %> or
    <%= link_to "register for a camp", :controller => :registration, :action => :all_fitness_camps %>
  </p>