<div id="container">
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Pam's Story
			</h1>
					<div class="shadow shadow_medium">
						<%= image_tag "camperstories/CamperStory_Pam.png", class: "border-img" %>
					</div>
		</div>
		<div class="full_page">
			<div class="one_fourth">
				<p>
					Before
				</p><%= image_tag "camperstories/CamperStory_Pam_before.jpg", class: "border-img" %>
			</div>
			<div class="one_fourth">
				<p>
					After
				</p><%= image_tag "camperstories/CamperStory_Pam_after.jpg", class: "border-img" %>
			</div>
			<p>
				After my first week of FitWit, I was wondering: how do I get down the stairs, where are the handicap toilets, and what could Amy possibly come up with for next week! Initially I intended to only do FitWit for 6wks and then continue working out on my own. I saw the FitWit information in the “Gradygram”, Grady High School’s email blast to parents. Belinda and I joined together and we lamented about our pain, and continued to return for more torture from our beloved trainer, Amy. At about 7-8wks I began to notice my clothes loosening, I had more energy and I just felt better.</p>
			<p>	What helped me keep motivated are my FitWit Personal Trainer Amy Rakestraw and Trainer Assistant Cassi! Encouraging me to do more; counting with me, running beside me, fixing my form and just saying my name. I was not just another FitWitter, they knew me, Pam. And of course Belinda and I making sure each other went. I realized I need accountability in both exercise and eating. At about the same time I joined FitWit I also joined Weight Watchers. I have lost 27lbs, dropped 4 clothing sizes and most of all I feel great! My husband says he is so proud of me and calls me “skinny”!</p>
			<p>I am a FitWitter for life, a team player and FitWit is my Team! Of course I am Team Edward too! </p>
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
