<% title "Price &amp; Schedule" %>

<p>We run a 7-week program, year-round – a 6-week fitness camp (24 workouts) with 1 recovery week in between, but new campers can sign up at any time.  Click here for detailed "Getting Started" information.</p>
<br class="clear">
<div class="one_half">
  <h2>It’s easy to get started:</h2>
  <div class="one_half"><span class="dropcap2">1</span> Want to try us out? Call/email (888-534-8948/<a href="mailto:info@fitwit.com">info@fitwit.com</a>) to join us for a free workout anytime.</div>
  <br class="clear">
  <div class="one_half"><span class="dropcap2">2</span> Is this a right fit for you? Call/email (888-534-8948/<a href="mailto:info@fitwit.com">info@fitwit.com</a>) to set up a free fitness consultation.</div>
  <br class="clear">
  <div class="one_half"><span class="dropcap2">3</span> Ready to change your life?
    <%= link_to "Register for your first camp", fitness_camp_registration_all_fitness_camps_path %>
    or call us to discuss our membership programs.
    80% of FitWitters are enrolled in one of our membership programs, providing
    sustainable fitness solutions to suit every sitation. We offer plans that will
    meet your needs whether you work out almost every day, a few days a week or in
    between hectic travel/family schedules. We also offer discounts for couples,
    teachers, students, military and first-responders.</div>
</div>

<div class="one_half last">
  <h2>Individual Camp Pricing:</h2>

  <p>6-week camp - $299</p>

  <p>Veteran Camper - $259</p>

  <p>We also run 2 Saturday morning workouts/month at each location.</p>

  <%= render partial: "shared/offer", locals: {width: "380px"} %>

</div>

<br class="clear">


<h2> 2012 Schedule</h2>

<div class="table-border">
<table class="table">
	<thead>
	<tr>
		<th>Grant Park</th>
		<th>Decatur</th>
		<th>Midtown</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>6:00 - 7:00 AM</td>
		<td>6:00 - 7:00 AM</td>
		<td>6:00 - 7:00 AM</td>
	</tr>
	<tr>
		<td>7:00 - 8:00 AM</td>
		<td>7:00 - 8:00 AM</td>
		<td>7:00 - 8:00 AM</td>
	</tr>
	<tr>
		<td>9:30 - 10:30 AM</td>
		<td>9:00 - 10:00 AM</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>6:00 - 7:00 PM</td>
		<td>6:15 - 7:15 PM</td>
		<td>6:00 - 7:00 PM</td>
	</tr>
	<tr>
		<td>7:00 - 8:00 PM</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</div>