<% title "Referral Rewards Program" %>

<h2>It’s easy!</h2> 
<p>You refer someone who signs up for FitWit.  We pay you money!</p>
<blockquote>$40 for referring someone who signs up for one FitWit camp<br />
$100 for referring someone who commits to a yearly FitWit Club Membership</blockquote>

<p>AND, if you have the most referrals for the yearly quarter (minimum 3 referrals), you win:</p>

<blockquote>
	<ol>
		<li>Pair of running shoes from Fleet Feet</li>
		<li>Massage from The Rub Club</li>
	</ol>
</blockquote>

<p>AND, if you have the most referrals for the year (minimum 6 referrals), you win:</p>

<blockquote>
	<ol>
		<li>2-night stay at Serenbee Inn</li>
		<li>An additional $200 spending money</li>
	</ol>
</blockquote>


<h2>Wall of Champions 2012</h2>
<table>
	<tr>
		<td>Name</td>
		<td># of referrals</td>
	</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
</table>

<p>Email <a href="mailto:whitney@fitwit.com">whitney@fitwit.com</a> so she confirms your referral.</p>
