<% title "Team" %>
<div class="full_page">
  <%= image_tag "kidsmuscles.jpg" %>
</div>
<div class="full_page">
<h2>Our Leadership Team — A few of the people behind the curtain.</h2>

<p><strong>Josh Guerrieri — President — <a href="mailto:josh@fitwit.com">josh@fitwit.com</a></strong></p>

<p><%= image_tag "josh.jpg", class: "border-img bio-padding", align: "left" %>Why you might trust him to help run FitWit . . . </p>

<p>A Summa Cum Laude grad from Wittenberg University, Josh has been training and coaching since 2001.  At Wittenberg, he competed in basketball and track where he became a NCAA national qualifier in the Decathlon while setting the NCAC all-time record.  He then became a TeachFor America Corps member and taught and coached (basketball, track) for 6 years before launching FitWit in 2006.</p>

<p>Fun Facts:
	<ol>
		<li>I can barely swim one length of a pool without resorting to some sort of doggie paddle.</li>
		<li>I despise onions and the sound of fingers on a balloon.</li>
		<li>I grew up near Cleveland, Ohio as one of 8 kids (Hi Mom!), and I now have 4 of my own.</li>
		<li>We live in the Oakhurst neighborhood of Decatur, Georgia where my wife and I continue to work on perfecting the 2-man zone defense against a rising team of munchkins.</li>
	</ol>
</p>
</div>

<div class="full_page">
<p><strong>Erin Guerrieri — First-lady — <a href="mailto:erin@fitwit.com">erin@fitwit.com</a></strong></p>

<p><%= image_tag "erin.jpg", class: "border-img bio-padding", align: "left" %>Why all crazy ideas are run by her first . . . </p>

<p>Erin also graduated from Wittenberg with Honors Degree in English, and she was a captain on the track &amp; field team too. She taught Special Education in middle school with the Atlanta Public Schools before retiring into full-time motherhood.  And I mean FULL-TIME because she has 4 kids under 4!</p>

<p>Fun Facts:
	<ol>
		<li>I hate it when there is any foil/wrapper left on the lids of little applesauce/ pudding/yogurt cups. </li>
		<li>Despite appearances, I do not LOVE being pregnant. </li>
		<li>I rarely stay awake for the length of one movie. </li>
		<li>I grew up near Cleveland, Ohio about 2 miles from Josh and we were high school sweethearts. (I know: awwwww.) </li>
		<li>I'm a total nerd and I love organization and anything to do with it. Ah — the sweet smell of new notebooks and pencils!</li>
	</ol>
</p>
</div>

<div class="full_page">	
<p><strong>Ben — Vice-President — <a href="mailto:ben@fitwit.com">ben@fitwit.com</a></strong></p>

<p><%= image_tag "ben.jpg", class: "border-img bio-padding", align: "left"%>Why Ben thought starting a non-profit was a better idea than more lucrative, stable employment . . .
After separating from the Air Force in 2007, Ben moved to the Atlanta area to help found The FitWit Foundation with his good friends Josh and Erin Guerrieri. Ben sees fitness as one of the only things in life where you can succeed just by trying. You don’t have to be good at it–you just have to try. Ben is a Certified Strength and Conditioning Coach with the National Strength and Conditioning Association and a CrossFit Level I certified trainer. Ben earned a MS in Operations Research from the Air Force Institute of technology and played NCAA Division III football and track at Wittenberg University.</p>

<p>Fun Facts:
	<ol>
		<li>I've trained over 1,000 people ranging in ages from 5 to 62. From the morbidly obese to the highly conditioned athlete, everyone can improve their fitness. I love watching people achieve something they previously didn't think that they could do.</li>
		<li>Do not tell me that you can't do something. I REALLY hate that. You can do anything . . . just maybe not yet. </li>
		<li>I read very slowly. </li>
		<li>Hot dogs. I love hot dogs. No, you don't understand. I LOVE hot dogs. </li>
		<li>I'm married to Josh's little sister. Yes, as a matter of fact, it is a little stressful being married to my boss's sister but she's worth every bit of it. </li>
		<li>Summer camp is my first love. Coming soon: Camp FitWit!. </li>
	</ol>
</p>
</div>

<div class="full_page">
<h2>Our Trainers — The people you'll love to hate.</h2>

<p>FitWit trainers are professionally certified personal trainers, with strong fitness/ athletic backgrounds and a heart for community. Just like you, we shy away from those trainers more concerned with how they look in the mirror than with your workout. </p>

<p>Our trainers are coaches — actively teaching, inspiring and guiding you to better form and better effort. Each FitWit location has its own cadre of trainers coaching you to personal greatness!</p>
</div>
			
			
			
			
			

