= simple_form_for [:backend, @location, @fitness_camp, @time_slot, @meeting], :wrapper => :inline do |f|
  %fieldset
    = f.input :meeting_date, :input_html => { :class => 'datepicker' }
  .actions
    = f.submit class: "btn primary"
