.row
  #attendance_div.span5
    = render "take_attendance"
  .span5
    = render "show_workouts"
.row
  .span10
    .form-actions
      = link_to "Enter Scores for Class", backend_coach_score_entry_path(@meeting.id), class: "btn btn-primary"

- if @meeting.workouts.size > 0
  %h3 Ready to Paste
  = workouts_in_html(@meeting)