$("#javascript_top_row").show('slow');
$("#javascript_top_row").html("<div class='alert-message info'><p>Successful Attendance Update</p></div>");
$("#attendance_div").html("<%= escape_javascript(render "take_attendance") %>");

