<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Arthur &amp; Anna's Story
			</h1>
		</div>
		<div class="full_page">
			<h3>
				Arthur
			</h3>
			<p>
				We love FitWit because of the convenience, variety, results, and the people. We enjoy working out together but we run at different speeds, so running together just ended up annoying both of us. We wanted an intense, focused workout with professional direction without throwing stacks of money on sessions with personal trainers. We found that in FitWit.
			</p>
			<p>
				The program is great because we don't have to sacrifice our other activities — Anna can still play on her soccer team and do yoga, and Arthur can still do martial arts training. In fact, the intense full-body workouts have given both of us a noticeable boost in strength and endurance, which helps in these activities. And while we usually go at 7 a.m., the several FitWit time slots allow flexibility if one of us has an early meeting (or didn't feel like getting up early...). Additionally, having both of us in the program makes it much easier to get motivated to go.
			</p>
			<p>
				The workouts involve a wide range of tools and exercises. One day you may be using heavy ropes, the next day kettle bells, the next day sandbags. Even workout freaks will notice the use of muscles you didn't realize you had. If you commit to the program — which is easy to do — you will lose weight, gain definition, and just plain feel better. We both noticed that after just a few weeks.
			</p>
			<p>
				But it is ultimately the people involved who make FitWit what it is. The trainers are knowledgeable and enthusiastic, yet stern when they need to be (<q>put down that 30-pounder and get that 35!</q>). It's easier to get moving at the crack of dawn when Mario is singing Stevie Wonder during warmups. It is obvious they genuinely care about the program and the campers, and this feeling spreads to everyone involved. Also, the campers, from a broad spectrum of experience and fitness levels, support and encourage each other. That's the kind of positive environment that promotes physical and mental well-being, and that's why we love FitWit.
			</p>
			<h3>
				Anna
			</h3>
			<p>
				I've done bootcamp before. I've been yelled at to squat faster, run harder, and do more push-ups. I've lost a couple pounds here and there. I've worn smaller pants. So when my sister encouraged me to try FitWit over a year ago, I was skeptical to say the least. While I enjoyed previous bootcamps, I never felt inspired, I dreaded every session and I felt no connection with the trainers. Nevertheless, I begrudgingly signed up for FitWit to in part to quiet my sister. Here I am over a year later — a "Vet" as we call it at FitWit. Not only do my sister and I participate in FitWit, but so does her husband, his best friend, my husband and our neighbor. Frankly, it's addictive.
			</p>
			<p>
				FitWit is nothing like any bootcamp I have ever done. Every single day I am challenged to try something new-to push myself farther-and to support my fellow campers in their struggles as well. The trainers are what make this bootcamp what it is. They are so incredibly positive at all hours of the morning, and yet they whip you into shape when you begin to slack off or lose focus. I find myself looking forward to workouts-looking forward to seeing the trainers I love. FitWit has become a permanent part of my life..oh yeah and my sister's and her husband's and my husband's and so on...
			</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
