<div id="container">
	<!--
		<div class='google-search'>
		   %= insert_google_site_search %
		</div>
		-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro">
			<h1 id="title">
				Dawn's Story
			</h1>
		</div>
		<p>
			I started in FitWit's very first camp over 5 years ago. I had two young children, a busy career and had stopped exercising as I had in my twenties and thirties. Up until FitWit, every time I tried to start a new exercise program, I disappointed myself. When I started FitWit, I could barely run 400 meters or do over 10 sit ups. Instead of being embarrassed, I found encouragement from trainers and fellow campers who cheered when I made progress. I was not compared to other campers but simply encouraged to push to beat my own personal bests.
		</p>
		<p>
			Flash forward 5 years. I have run over twenty 5K races and won first in my age group (old lady) several times. I ran a half marathon with an impressive time for my age. I have found a community that I would never have had. Not only to we work out and encourage each other, we decorate parade floats, go to festivals, support each other's businesses and celebrate weddings and births. Most importantly, not only do the dollars I give FitWit help me to stay in the best shape of my life (I have lost weight instead of gaining weight during my middle ages), it supports the FitWit Foundation and the awesome work they do with teens. I cannot say enough about how FitWit, its trainers and its community has changed my life for the better.
		</p>
		<div class="full_page"></div>
		<div style="clear:both;"></div>
	</div>
</div>
