<div id="container">
	<!--
	<	div class='google-search'>
		%= insert_google_site_search %
		</div>
	-->
	<div id="container_main">
		<!-- google_search div id="cse" style="display: hidden; background: #fee;"></div -->
		<div class="text-intro" id="intro"><h1 id="title">Denise's Story</h1></div>
		<div class="full_page">
			<video width="640" height="480" poster="../../assets/stories/denise.png" controls="controls">
				<source src="../../assets/stories/denise.mp4" type="video/mp4">
				<source src="../../assets/stories/denise.ogv" type="video/ogg">
				<object id="flash_fallback_1" class="vjs-flash-fallback" width="640" height="480" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
				<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
				<param name="allowfullscreen" value="true">
				<param name="flashvars" value="config={&quot;playlist&quot;:[&quot;http://r3b.co/work/fitwit/assets/stories/denise.png&quot;, {&quot;url&quot;: &quot;http://r3b.co/work/fitwit/assets/stories/denise.mp4&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:true}]}">
				<!-- Image Fallback. Typically the same as the poster image. -->
				<img src="../../assets/stories/denise.png" width="640" height="480" alt="Poster Image" title="No video playback capabilities.">
				</object>
			</video>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>