%h3 Your Registrations
-# also need to be able to show a membership . . .
%ul#cart_items
  - cart.items.each do |cart_item|
    %li{class: "page_item " + ((cart_item == @current_item) ? "current_page_item" : "")}= cart_item.title

#total{style: "padding:15px 0;"}
  %p
    You are registering for
    = pluralize(cart.total_items, 'camp') + "."

#buttons
  %div{style: "width:100px;float:left;"}
    = button_to "Checkout", fitness_camp_registration_cart_path, class: 'btn btn-success'
  %div{style: "width:100px;float:right;"}
    = button_to "Empty cart", fitness_camp_registration_empty_cart_path, class: 'btn btn-warning'
%br.clear