%h3 Your Registrations
%table
  = render(:partial => "fitness_camp_registration/cart/simple_cart_item", :collection => cart.items)
  %tr
    %td{:colspan => "2"} Total fitness camps
    %td.total-cell= cart.total_items
- unless @cart_view
  .one_half
    = button_to "Checkout", fitness_camp_registration_cart_path, class: 'small-btn glass-btn'
  .one_half
    = button_to "Empty cart", fitness_camp_registration_empty_cart_path(@location), class: 'small-btn glass-btn'
  %br.clear