<h1><%= @subject -%></h1>

<p>
  You're invited to sign up for FitWit.com.
  If you accept this invitaton, please visit the <%= link_to( 'Sign Up', @sign_up_url )-%> page.
  If you don't want to accept the invitation, just ignore this mail and take no action.
</p>


<% unless @message.blank? %>
  <p>
    <%= @message -%>
  </p>
<% end %>


