<style>
	#feature_presentation{min-height:400px !important;height:400px;}
</style>
<div class="floatLeft" style="margin-left:-10px;width:360px;">
		<div style="height:300px"><img alt="Team Graphic" src="/images/booher_design/top_left_gears.jpg?1289007182" width="300" height="300"/></div>
</div>
<div class="floatLeft bigGray" style="width:420px;height:300px;">
	<div style="width:500px;padding-left:20px;">
		<p class="big_red" style="text-align:left;">Locations</p>
		<div style="padding-left:20px;">
			<p style="font-size:0.9em;">Click on a location below for specific camp details. Here, you'll not only find schedule, pricing and location info, but you'll see our community in action - our workouts, events, trainer tips, articles, videos, pictures and more!</p>
			<p class="big_red" style="padding-left:20px;text-align:left;margin-bottom:5px;"><a href="http://fitwit-grantpark.ning.com" style="color:#ea241b;">Grant Park</a></p>
			<p class="big_red" style="padding-left:20px;text-align:left;margin-bottom:5px;"><a href="http://fitwit-decatur.ning.com" style="color:#ea241b;">Decatur</a></p>
			<p class="big_red" style="padding-left:20px;text-align:left;margin-bottom:5px;"><a href="http://fitwit-midtown.ning.com" style="color:#ea241b;">Midtown</a></p>
		</div>
	</div>
			<div style="position:relative;width:100%"><div style="width:200px;margin:0 auto;text-align:center;cursor:pointer;"><a class="fitwit" href="/registration/all_fitness_camps" style="">Register now!</a></div></div>
</div>
				

