- title "Health Profile"

= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    here we include the user registration form
  .form-actions
    f.button :submit, class: 'btn-primary'

