- title "Health Profile"

- content_for :resource_actions do
  = render "shared/user_update_nav"

- present @user do |user_presenter|

  - content_for :right_column do
    .info_box.info_box1.rounded
      .content_box
        %br.clear
        #reported_problems
          - if @user.health_issues.size > 0
            = user_presenter.show_health_problems(@user)
        #unreported
          - unless @user.health_issues.size == MedicalCondition.all.size
            %h4 Please verify you do not have:
            = user_presenter.show_clear_health(@user)
        %br.clear
  %p
    Please keep your health profile current and notify us of any
    changes in your health status. Of course, your information will
    be protected and only used to help us tailor our program to your fitness needs.

  #verify_health_history
    = render "shared/verify_health_history"



