<% title @posting.title, false %>
<%= render @posting %>

<!-- Start Shareaholic Sexybookmark HTML-->
<div class="shr_class shareaholic-show-on-load">
  &nbsp;</div>
<!-- End Shareaholic Sexybookmark HTML --><!-- Start Shareaholic Sexybookmark script --><script type="text/javascript">
    var SHRSB_Settings = {"shr_class":{"src":"{Place_Path_Here}","link":"","service":"5,7,2,313,38,201,88,74","apikey":"6ffe2cbf142c45bd4cd03b01ec46b8658","localize":true,"shortener":"google","shortener_key":"","designer_toolTips":true,"twitter_template":"${title} - ${short_link} via @Shareaholic"}};
</script><script type="text/javascript">
    (function() {
        var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
        sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-sb.min.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
    })();
</script><!-- End Shareaholic Sexybookmark script -->