<!-- BEGIN: Constant Contact Stylish Email Newsletter Form -->
<div class="constant_contact_form">
  <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp " target="_blank" method="post" style="margin-bottom:3px; padding-top: 16px; padding-left: 16px; padding-right: 16px; text-align:center;">
          <span style="background-color: #9999CC; float:right;margin-right:5px;margin-top:3px">
            <!-- need to get size in here -->
            <%= image_tag "constant_contact/email1_trans.gif",
                 :alt => "Email Newsletter icon, E-mail Newsletter icon, Email List icon, E-mail List icon", :border => "0" %>
          </span>
          <span class="big_why">
            <% if page == "details" %>
            FREE Preview Workout<br /> Sign up for details on free workouts and discounted camps.
                <% else %>
            FREE REPORT<br /> Why Your Workout Isn't Working &amp; 7 Steps To Fix It!
            <% end %>
          </span><br />
    <input type="text" name="ea" size="40" value="" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10px; border:1px solid #999999;" /> <br />
    <input type="submit" name="go" value="Submit Email" class="submit" style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px; margin-top:5px;" />
    <input type="hidden" name="m" value="1101493078369" />
    <input type="hidden" name="p" value="oi" />
  </form>

  <!-- END: Constant Contact Stylish Email Newsletter Form -->
  <!-- BEGIN: SafeSubscribe
  <div style="padding-top:1px;text-align:center;">
    <a href="http://www.constantcontact.com/safesubscribe.jsp" target="_blank">
      <%#= image_tag "constant_contact/safe_subscribe_logo.gif", :size=>"168x14" %>
    </a>
  </div>
   END: SafeSubscribe -->

  <!-- BEGIN: Email Marketing you can trust
  <div style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999; text-align:center;margin-top:-5px;">
    For
    <a href=" http://www.constantcontact.com/jmml/email-marketing.jsp " style="text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;" target="_blank">Email
      Marketing</a> you can trust
  </div>
   END: Email Marketing you can trust -->
</div>