<div class="boxContainer imgCenter" style="width:308px;">
	<div class="boxTitle">Latest on FitWit</div>
	<div class="boxContent" style="height:307px;">
		<!--<iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FFitWit%2F119054548173103&amp;width=308&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=395" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:308px; height:395px;" allowTransparency="true"></iframe>-->
		<iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFitWitAtlanta&amp;width=308&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=307" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:480px; height:395px;" allowTransparency="true"></iframe>
	</div>
</div>
