    <div id="footer">
		<span style="float:left;">&copy; Copyright 2010 FitWit</span>
		<span class="address" style="float:right;margin:0 auto;text-align:center;">1270 Caroline St. Suite D120 - 403, Atlanta, GA 30307</span>
	</div>

<div id="message" class="fixed"></div>

