- file = open("https://s3.amazonaws.com/FitWitSite/pdfs/FitWitFitnessCampManual120301.pdf").read
- #                 https://s3.amazonaws.com/FitWitSite/pdfs/FitWitFitnessCampManual120301.pdf
= file.to_s
= link_to "workout working", "https://s3.amazonaws.com/FitWitSite/pdfs/WhyYourWorkoutIsNotWorking7StepstoFixIt.pdf"