- file = File.read("http://s3.amazonaws.com/FitWitSite/pdfs/WhyYourWorkoutIsNotWorking7StepstoFixIt.pdf")
= file.to_s
= link_to "file_1", "http://s3.amazonaws.com/FitWitSite/pdfs/WhyYourWorkoutIsNotWorking7StepstoFixIt.pdf"