%tr[@user]
  %td{style: @user.member? ? "font-weight:bold;" : ""}= @user.full_name.html_safe
  %td= link_to("Remove", backend_remove_user_path(@time_slot.id, @user.id), class: "btn small danger", remote: true)