%h1 Register Previous Members

%p Here we will register previous members

= form_tag backend_location_fitness_camp_time_slot_process_repeat_registrations(@location_id, @fitness_camp_id, @time_slot.id), id: "repeat_attendance_form" do
  %fieldset
    - @all_previous_members_in_ts.each do |m|
      = m.full_name
  .actions
    = submit_tag "Register Members", class: "btn primary"
