#friends_discount_form
  = form_tag add_friend_path, remote: true do
    = text_field_tag "friend_name"
    = hidden_field_tag "unique_id", cart_item.unique_id
    = submit_tag "Add friend", class: 'btn'