%h1 FitWit Member Info
= link_to 'All FitWit Users Info', backend_all_fitwit_users_info_path

%h3 Fields

%p
  %em
    Name, location, contract months, sessions/week, start date, end date, last charge, notes, payment method, paid in full (T/F), Total Value, on pause (T/F), email, address, phone.

%p It would be nice if this were both .csv and html with clickable links on their name so we can access their profile and update information as needed.

%hr