
/***  Variables  ***/

@import "bootstrap/variables";
@import "backend/themes/default/variables";

/***  Mixins  ***/

@import "bootstrap/mixins";
@import "backend/themes/default/mixins";

/*** Reset ***/
@import "bootstrap/reset";

/***  Libraries  ***/

@import "backend/aristo/jquery-ui-1.8.7.custom";
@import "backend/jquery.ui.timepicker";
@import "backend/ra.calendar-additions";
@import "backend/ra.filtering-multiselect";

/***  Bootstrap Theming  ***/

@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/layouts";
@import "bootstrap/wells";
@import "bootstrap/type";
@import "bootstrap/forms";
@import "bootstrap/tables";
// Components: common
@import "bootstrap/sprites";
@import "bootstrap/dropdowns";
@import "bootstrap/wells";
@import "bootstrap/component-animations";
@import "bootstrap/close";
// Components: Buttons & Alerts
@import "bootstrap/buttons";
@import "bootstrap/button-groups";
@import "bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons.lessa

// Components: Nav
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";

// Components: Popovers
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";

// Components: Misc
//@import "bootstrap/thumbnails";
@import "bootstrap/labels";
@import "bootstrap/progress-bars";
@import "bootstrap/accordion";
//@import "bootstrap/carousel";
//@import "bootstrap/hero-unit";

// Utility classes
//@import "bootstrap/utilities"; // Has to be last to override when necessary

/***  RailsAdmin Theming  ***/

@import "backend/base/theming";
@import "backend/themes/default/theming";

/***  FullCalendar  ***/
@import "backend/fullcalendar.css.scss";

.label-success {
  background-color: #468847;
}

.nested-fields {
  @extend p;
  margin-left: 160px
}

.nested-fields-link {
  display: block;
  margin-left: 160px;
  padding-top: 6px;
}

#workout_description {
  padding: 15px;
}
label.error {
 color: #B94A48;
}