/* comments list */
.commentlist {
	list-style: none;
	margin-bottom: 20px;
}
#main_wrapper .commentlist li {
	list-style: none;
}
.bypostauthor {
	background: transparent;
}
.comment-box {
	background: #f5f5f5 image-url('/images/cold/arrow-dark.png') 68px 25px no-repeat;
	border-top: 2px solid #aaa;
	margin-bottom: 10px;
	padding: 10px;
    img {
      background: #fff;
      padding: 3px;
      border: 1px solid #999;
    }
}

.comment-text {
	position: relative;
	padding-left: 20px;
	overflow: hidden;
	min-width: 100px;
}

.children {
	margin-left: 30px;
    .comment-reply a {
      background-color: #eee;
    }
    .avatar-box {
      background-color: #eee;
      border-radius: 0 0 10px 10px;
      -moz-border-radius: 0 0 10px 10px;
      -webkit-border-radius: 0 0 10px 10px;
        img {
          width: 25px;
          height: 25px;
          border: 1px solid #bbb;
        }
    }
    .comment-box {
      background: #fff image-url('/images/cold/arrow-light.png') 53px 18px no-repeat;
      border-top: 2px solid #d9d9d9;
    }
}

.comment-reply a {
	float: right;
	color: #999;
	text-decoration: none;
	padding: 2px 8px 4px 26px;
	background: #e5e5e5 image-url('/images/cold/reply.png') 5px 50% no-repeat;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.comment-reply a:hover {
	background-color: #dfdfdf;
	color: #888;
}
.comment-author {
	font-style: normal;
	font-size: 14px;
    a {
      text-decoration: none;
      font-weight: bold;
    }
    span {
      font-weight: bold;
    }
}

.bypostauthor .comment-author {
	padding-left: 20px;
	background: image-url('/images/cold/bullets/write.png') 0 50% no-repeat;
	font-weight: bold;
}

.comment-date {
	display: block;
	font-size: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.bypostauthor .comment-date {
	padding-left: 20px;
}

.avatar-box {
	padding: 8px 10px 10px;
	margin: -10px 0 0 -10px;
	background-color: #bbb;
	background: #bbb image-url('/images/cold/gradient-navi.png') repeat-x;
	border-radius: 0 0 10px 0;
	-moz-border-radius: 0 0 10px 0;
	-webkit-border-radius: 0 0 10px 0;
}
