/*
Document   : fit_wit_forms
Created on : Apr 25, 2008, 5:11:00 PM
Author     : A9USER
Description:
Purpose of the stylesheet follows.
*/
/**************************************************************
Form Elements
**************************************************************/

/* If you're finding the input elements get pushed down, increase the width */

/*input,*/
/*textarea,*/
/*select {*/
/*  padding: 1px;*/
/*  font: 400 1em verdana, sans-serif;*/
/*  color: #999;*/
/*  background: #EEE;*/
/*  border: 1px solid #CCC;*/
/*}*/

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
    color: #000;
    background: #E7F1F3;
    border: 1px solid #888;
}

div#tabs ul {
    width: auto;
}

div#tabs ul li {
    clear:none;
    width:auto;
}

input.noBorder,
input:focus.noBorder,
input:hover.noBorder {
    padding: 0;
    border: 0;
}

input.floating_button {
    /* TODO needs more work */
/*    float:left;*/
/*    border:5px solid red;*/
}

input.button {
    padding: 2px 5px;

    font: 400 0.9em verdana, serif;
    cursor: pointer;

    /*    color: #fff;*/
    /*    background: #FC3307;*/
    border-width: 1px;
    border-style: solid;
    border-color: #DEDEDE #691300 #691300 #DEDEDE;
}

input.no_button {
    background-color:transparent;
    text-decoration: underline;
    border:none;
    color: #3B5D77;
}
input.no_button:hover {
    color:red;
    cursor:pointer;
}

input.button:hover {
    border-color:  #691300 #DEDEDE #DEDEDE #691300;
}

input.floater {
    /*    float:left;*/
    padding:0px;
    margin:0px;
    display:inline;
}

input.radio {
    background: none;
    border: 0px;
}
form.fitwit, form {
    text-align:left;
    padding:0pt 0pt 20px;
    margin: 0;
}
form ul, form fieldset ul, div.errorExplanation ul {
    font-size:100%;
    list-style-type:none;
    margin:0pt;
    padding:0pt;
    width:100%;
}

form li:after {
    content:"";
    display:block;
    clear:both;
}

div.errorExplanation ul li {
    display:block;
    border:1px solid #CFCFCF;
    padding:4px 5px 2px 9px;
    margin:5px;
    width:145px;
}

form li, div.disp  {
    display:block;
    width:80%;
    clear:both;
    margin:0pt;
    padding:4px 5px 2px 9px;
    position:relative;
    list-style-image:none;
    /*        background-color: yellow;*/
    /*        border: 1px solid blue;*/
}
form li span {
    float:left;
}
form li div, form li span {
    margin:0pt 4px 0pt 0pt;
    padding:0pt 0pt 8px;
    /*    background-color: green;*/
}
form li div.address {
    padding-bottom:0pt;
    /*    background-color:purple;*/
    width:65%;
    float:left;
    display:block;
}
form li div label, form li span label {
    clear:both;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0pt;
    padding-top:3px;
    /*    background-color: red;*/
}

div.explanation {
    /* border:1px solid red; */
    padding:7px;
}

label.desc, div.desc {
    float: left;
    width: 30%;
}

label.desc50, div.desc50 {
    float: left;
    width: 40%;
}

label.desc80, div.desc80 {
    float: left;
    width: 70%;
}

div.desc {
    display:inline;
    /*    background-color:orange;*/
    margin:0px;
    padding:0px;
}

label.desc, label.desc50 {
    vertical-align: top;
    color:#333333;
    font-size:95%;
    border:medium none;
    display:block;
    font-weight:bold;
    line-height:150%;
    padding:0pt 0pt 1px;
    /*    background-coror: red;*/
}
form .req {
    color:red !important;
    float:none;
    font-weight:bold;
    margin:0pt;
    padding:0pt 0pt 8px;
}
form li div.left {
    display:inline;
    float:left;
    width:47%;
}
form li div.right {
    display:inline;
    float:right;
    width:47%;
}
input, input.file {
    padding:2px 0pt;
}
input, textarea, .firefox select.select, select, button {
    border-color:#7C7C7C rgb(195, 195, 195) rgb(221, 221, 221);
    border-style:solid;
    border-width:1px;
    /*    background-color:red;*/
}

input, input.file, textarea, select, button {
/*    color:#333333;*/
    font-size:100%;
    margin:0pt;
}

textarea {
    font-family: "Lucida Grande", Helvetica, Arial, sans;
    font-size: 10pt;
}

input, input.file {
    padding:2px 0pt;
}
.full {
    width:100% !important;
}
div.fieldWithErrors {
    padding:0px;
    margin:0px;
}
div.fieldWithErrors input, div.fieldWithErrors select, textarea.more_info_needed {
    border:2px solid red;
}

div.errorExplanation {
    margin:0px;
    border:1px solid red;
    padding:3px;
}

textarea.inset {
    display:block;
}

textarea.hidden {
    display:none;
}

textarea.deemphasized {
  color:gray;
}

div.checkbox {
  vertical-align: middle;
  height:20px;
  display:inline;
}

label.error { width: 10em; float: left; float: none; color: red; padding-left: .5em; vertical-align: top; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }