$form-width: 600px;
$label-width: $form-width / 3;
$field-width: $form-width / 3 * 1.8;
$color-base: #888;
$color-text: darken($color-base,80%);
$color-paper: lighten($color-base,35%);
$box-background: lighten($color-base,35%);
$color-header: darken($color-base,25%);
$color-shadow: darken($color-base,50%);
$color-border: $color-shadow;
$color-link: lighten($color-text,10%);
$hud-background: lighten($color-base,50%);
$color-action-delete: #99363C;
$color-action-delete-text: white;

#consent_form {
  .explain_master {
    padding-bottom: 4em;
    padding-top: 1em;
  }
  .explanation {
    width:100px;
    float:left;
    color: black;
  }
  .explanation_input {
    width:220px;
    float:right;
  }
}

#discount_forms {
  padding:30px;
}

label.error {
  color: red;
  font-style: italic;
  clear: both;
  margin-left:0px;
}

textarea.error {
  border:2px solid red;
}

.clearfix:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.submit_box {
  margin:10px;
}

#verify_health_history label {
  width: 300px !important;
}

#session_options{
 padding:20px;
 background-color:white;
 border:1px solid #cfcfcf;
}

#wrapper #main_wrapper {
  form {
    /* border:1px solid green; */
  }

  .old_block {
     width:336px;
     float:left;
  }

  label {
    width: $label-width;
    float: left;
  }

  .field {
    margin-bottom: 5px;
  }

  input {
    display: inline;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
      width: $field-width;
  }
  
  textarea {
    width: $field-width;
  }
  
  form {

    hint {

    }

    margin-bottom: 10px;
    
    input[type="text"].number-field {
      width: 100px;
    }
    
    #attachments {
      blockquote {
          margin-left: 200px;
          width: 380px;
      }
      h3 {
        display: inline;
      }
    }
    
    .field {
      #attachments {
        margin-left: $label-width;
        display: block;
        
        
        input[type="file"] {
          width: $field-width - 80px;
        }
            
        a {
          background: none;
          color: $color-text;
        }
        
        .attachment {
          /* @include button-shape(5px); */
          border: 1px solid lighten($color-shadow, 50%);
          padding: 5px;
          width: $field-width;
          margin-bottom: 10px;
        }
        
        .attachment-label {
          display: block;
          margin-bottom: 5px;
          
          a.nostyle-link {
            border: none;
            border-bottom: none;
            font-weight: bold;
            &:hover {
              text-decoration: underline;
            };
          }
        }
        .file-field {
          margin-top: 5px;
          display: inline;
        }
      }
    }
  }
}
