/* we might need this for the authentications */
.authentications {
  margin-bottom: 30px;
  /* class authentication beginning */
  .authentication {
    float: left;
    background-color: #EEE;
    border: solid 1px #999;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    margin-right: 10px;

    .remove {
      text-decoration: none;
      position: absolute;
      top: 3px;
      right: 3px;
      color: #333;
      padding: 2px 4px;
    }

    .remove:hover {
      color: #FFF;
      background-color: #777;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }

    img {
      border: none;
      box-shadow: none;
      padding: 0px;
      float: left;
      margin: 0px 0px 0px 0px;
    }

    .provider, .uid {
      margin-left: 38px;
      margin-right: 20px;
    }

    .provider {
      font-weight: bold;
    }

    .uid {
      color: #666;
    }
  }
}
/* end of class authentication */

.auth_provider img, .auth_provider {
  padding: 0px;
  -moz-box-shadow:     none;
  -webkit-box-shadow:  none;
  box-shadow: none;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;

  img {
    border: none;
    padding: 0px;
    display: block;
  }

}

.omniauth_mini_icons {
  margin: 0px;
  padding: 0px;
  width: 32px;
  height: 32px;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#error_explanation {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 10px;
  padding-top: 0px;
  margin-bottom: 20px;
}

#action_buttons {

  font-weight: 100;
  font-size: 0.7em;
   position: fixed;
   top: 0px; right: 10px;
   z-index: 3;
}

#action_buttons a:hover {
  background: #008300;
  color: #FFF270;
}

#action_buttons a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 5px;
  margin-top: 0px;
  padding: 5px;
  background: #006800;
  float: right;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0px 0px 2px 2px #444;
}

#overlay {
  position: fixed;
  _position: absolute;
  /* hack for internet explorer 6*/
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  vertical-align: middle;
  text-align: center;
  z-index: 9999;
  display: none;
  border: 5px solid #ddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #FAFAFA;
}

#right-column-top #resource-actions {
    display: block;
    min-height: 35px;
    margin-left: 0px;
    width: 318px;
    padding-left: 0px;
}

/* .sidebar-right {
    width: 300px;
    min-width: 300px;
    padding: 10px;
    padding-top: 15px;
    margin-top: 10px;
    background: #E6E6E6;
    background: #E6E6E6 -webkit-gradient(linear, left top, left bottom, color-stop(0.95, #E6E6E6), color-stop(0, #BFBFBF)) repeat-x;
    border: none;
    border-left: 1px solid #090909;
    border-bottom: 1px solid #090909;
    border-top: 1px solid #090909;
    border-right: 1px solid #090909;
    border-radius: 3px 3px 3px 3px;
    border-image: initial;
} */

#right-column-top #resource-actions {
display: block;
min-height: 35px;
margin-left: 0px;
width: 318px;
padding-left: 0px;
}

#right-column {
  float: right;
  width: 320px;
  max-width: 320px;
  padding-left: 20px;
  margin-top: 12px;
}

.left_column {
  float: left;
  width: 580px;
  height: auto;
}

.cover_picture {
  background-color:green;
  margin: 0 10px 0 160px;
  width:430px;
  height: auto;
  overflow: wrap;
  padding:10px;
}
