#wrapper {
  #main_wrapper {
    .pagination_box {
      clear: both;
      text-align: center;
      padding: 1em;
      cursor: default;
      .pagination {
        height: 25px;
        font-size:15px;
        color: #999;

        a, span {
          margin: 0 5px 5px 0;
          height: 18px;
          background: #AAA image-url("/images/cold/gradient-btn.png") repeat-x;
          color: white;
          border: 1px solid #AAA;
          padding: 0 8px 1px;
          text-decoration: none;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
        }
        
        .disabled {
          color: #aaaaaa;
          display: none;
        }
        
        .current, em {
          font-style: none;
          font-weight: bold;
          padding: 0 3px;
          font-style: none;
        }
        
        a {  
          //@include clear-borders;
          text-decoration: none;
          &:hover, &:focus {
            //@include clear-borders;
            text-decoration: underline;
          }
        
        }
      }
    }
  }
}