@mixin clear-borders {
  border: 0px solid;
  border-top: 0 px solid;
  border-left: 0 px solid;
  border-right: 0 px solid;
  border-bottom: 0 px solid;
}

$radius-small: 3px;

@mixin button-shape($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

#wrapper {
  #main_wrapper {
    .pagination_box {
      clear: both;
      //@include clear-borders;
      //@include button-shape($radius-small);
      //background: darken(#f1f1f1, 5%);
      //border: 1px solid #e5e5e5;
      text-align: center;
      padding: 1em;
      cursor: default;
      .pagination {
        height: 25px;
        font-size:15px;
        color: #999;

        a, span {
          margin: 0 5px 5px 0;
          height: 18px;
          background: #AAA image-url("/images/cold/gradient-btn.png") repeat-x;
          color: white;
          border: 1px solid #AAA;
          padding: 0 8px 1px;
          text-decoration: none;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
        }
        
        .disabled {
          color: #aaaaaa;
          display: none;
        }
        
        .current, em {
          font-style: none;
          font-weight: bold;
          padding: 0 3px;
          font-style: none;
        }
        
        a {  
          //@include clear-borders;
          text-decoration: none;
          &:hover, &:focus {
            //@include clear-borders;
            text-decoration: underline;
          }
        
        }
      }
    }
  }
}