= simple_form_for [ :backend, resource ], html: { class: 'form-horizontal' } do |f|
  %fieldset
    - attributes.each do |attr|
      = f.input attr
  .form-actions
    = f.submit :class => "btn btn-primary"
