= simple_form_for [ :backend, resource ], :wrapper => :inline do |f|
  %fieldset
    = f.input :content, as: :text
    = f.input :active, as: :boolean
  .actions
    = f.submit :class => "btn primary"