<%#= ENV['APPLICATION_CONFIG_name'].html_safe -%>
<%#= (
      ENV['APPLICATION_CONFIG_slogan'] || \
      ("PLEASE DEFINE SLOGAN IN application YAML "+
      "<span style='font-face: Courier new; font-style: normal; "+
      "font-weight: bold;'>ENV['APPLICATION_CONFIG_slogan']</span>")
    ).html_safe
-%>

