<div id="cf7_form_box">
  <div class="wpcf7" id="wpcf7-f1-w1-o1">
    <form action="/app/views/layouts/_contact_form.html.erb#wpcf7-f1-w1-o1" method="post" class="wpcf7-form">
      <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="1"/>
        <input type="hidden" name="_wpcf7_version" value="2.4.4"/>
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1-w1-o1"/>
      </div>
      <p>Your Name (required)<br/>
    <span class="wpcf7-form-control-wrap your-name"><br/>
<input type="text" name="your-name" value="" class="wpcf7-text wpcf7-validates-as-required" size="40"/></span></p>

      <p>Your Email (required)<br/>
    <span class="wpcf7-form-control-wrap your-email"><br/>
<input type="text" name="your-email" value="" class="wpcf7-text wpcf7-validates-as-email wpcf7-validates-as-required" size="40"/></span>
      </p>

      <p>Your Message<br/>
        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10"></textarea></span>
      </p>

      <p>
        <input type="submit" value="Send Message" class="wpcf7-submit"/>
        <img class="ajax-loader" style="visibility: hidden;" alt="Sending ..." src="http://e404themes.com/cold/wp-content/plugins/contact-form-7/images/ajax-loader.gif"/>
      </p>

      <div class="wpcf7-response-output wpcf7-display-none"></div>
    </form>
  </div>
  <div class="clear"></div>
</div>