<div id="navigation">
  <ul id="menu-top-menu" class="sf-menu">
    <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-427">
      <a href="http://e404themes.com/cold/">Home</a></li>
    <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431">
      <a href="http://e404themes.com/cold/features/">Locations</a>
      <ul class="sub-menu">
        <li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433">
          <a href="http://e404themes.com/cold/features/powerful-admin-panel/">Grant Park</a>
        </li>
        <li id="menu-item-434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433">
          <a href="http://e404themes.com/cold/features/powerful-admin-panel/">Decatur</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430">
      <a href="FitWit_CampDetails_091911">Camp Details</a>
      <ul class="sub-menu">
        <li id="menu-item-436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="http://e404themes.com/cold/shortcodes/columns/">What's included</a>
        </li>
        <li id="menu-item-437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="http://e404themes.com/cold/shortcodes/columns/">FAQ</a>
        </li>
        <li id="menu-item-438" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="http://e404themes.com/cold/shortcodes/columns/">Price</a>
        </li>
        <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439">
          <a href="http://e404themes.com/cold/shortcodes/columns/">Schedule</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426">
      <a href="http://e404themes.com/cold/blog/">Blog</a></li>
    <li id="menu-item-4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428">
      <a href="http://e404themes.com/cold/portfolio/">Non-profit</a>
    </li>
    <li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429">
      <a href="http://e404themes.com/cold/gallery/">Stories</a>
      <ul class="sub-menu">
        <li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423">
          <a href="http://e404themes.com/cold/gallery/">Our Company Story</a>
        </li>
        <li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423">
          <a href="http://e404themes.com/cold/gallery/">Camper Stories</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-459">
      <a href="http://e404themes.com/cold/contact/">Contact</a></li>
  </ul>
  <br class="clear"/>
</div>
